[defaults]
inventory = /home/debian/Workspace/Ansible/inventories/vps/hosts.yml
host_key_checking = True
retry_files_enabled = False
roles_path = /home/debian/Workspace/Ansible/roles
vault_password_file = /home/debian/Workspace/Ansible/.vault_pass

[ssh_connection]
pipelining = True
