[defaults]
inventory = /home/debian/ansible/inventories/vps/hosts.yml
host_key_checking = True
retry_files_enabled = False
roles_path = /home/debian/ansible/roles
vault_password_file = /home/debian/ansible/.vault_pass

[ssh_connection]
pipelining = True
